
    <div class="container">
        <div class="row">
            <div class="leftcolumn"><div class="card ui-draggable ui-draggable-handle" id="idn" style="width: 124px; right: auto; height: 103px; bottom: auto; left: 632px; top: 31px;"><img src="/static/img/ad_car.jpeg" class="img-rounded" style="width:100%;"></div><div class="card ui-draggable ui-draggable-handle" id="idn" style="width: 124px; right: auto; height: 104px; bottom: auto; left: 168px; top: 35px;"><img src="/static/img/ad_pizza.jpeg" class="img-rounded" style="width:100%;"></div>


            </div>
            <div class="centrecolumn">


                <div class="card" id="searchresults">


                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco.</p>
                </div>
            </div>
            <div class="rightcolumn"></div>
        </div>
    </div>

