
    <div class="container">
        <div class="row">
            <div class="leftcolumn">


            <div class="card ui-draggable" id="id_3" style="left: 0px; top: 105px;"></div><div class="card ui-draggable" id="id_4" style="left: 0px; top: 208px;"></div></div>
            <div class="centrecolumn"><div class="card c ui-draggable" id="id_1" style="left: 0px; top: -2px;"></div><div class="card c ui-draggable" id="id_0" style="left: 0px; top: -11px;"></div>


                <div class="cardx ui-draggable" id="searchresults" style="width: 100%; position: relative;">


                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco.</p>
                </div>
            <div class="card c ui-draggable" id="id_2"></div></div>
            <div class="rightcolumn"><div class="card ui-draggable" id="id_5" style="left: 0px; top: 88px;"></div><div class="card ui-draggable" id="id_6" style="left: 0px; top: 121px;"></div><div class="card ui-draggable" id="id_7" style="left: 0px; top: 112px;"></div></div>
        </div>
    </div>

