
    <div class="container">
        <div class="row">
            <div class="leftcolumn">


            <div class="card" id="id_0" style="top: 0px; left: 0px; width: 208px; height: 430px;"></div><div class="card" id="id_1"></div></div>
            <div class="centrecolumn"><div class="card c" id="id_3"></div><div class="card c" id="id_2" style="top: 0px; left: 0px; width: 483px; height: 285px;"></div>


                <div class="card ressx ui-draggable" id="searchresults" style="width:100%">


                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco.</p>
                </div>
            </div>
            <div class="rightcolumn"></div>
        </div>
    </div>

