{% extends 'serp_base.html' %}
{% load static %}
<!--{% block title %}Start a New Topic{% endblock %}-->
<style>
    .img {

    }
</style>

{% block head %}
<img src="{% static logo %}"/>
{% endblock %}
{% block st %}
{% endblock %}
{% block right %}

{% if adDisplayRight is False %}
<style>.right {display:none}</style>
{% endif %}
<ul style="list-style: none;">
{% for c in adRightCount %}
    <li>
        <img src="{% static 'img/sample.jpeg' %}"/>
    </li>
    {% endfor %}
</ul>


{% endblock %}

{% block left %}
{% if adDisplayLeft is False %}
<style>.left {display:none}</style>
{% endif %}

<ul style="list-style: none;">
{% for c in adleftcount %}
    <li><img src="{% static 'img/sample.jpeg' %}"></li>
    {% endfor %}
</ul>
{% endblock %}