<!DOCTYPE html>
<html lang="en">
<head>


    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" id="search_query">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto" style="float:left">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col-9" style="float:left">
                        <input class="form-control form-control-lg form-control-borderless" type="search"
                               placeholder="Search topics or keywords" id="search_term">
                    </div>
                    <!--end of col-->
                    <div class="col-auto" style="float:left">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>

</div>
</body>
</html>