<!doctype html>

<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>







</head>
<body>

<!--<div id="resizable">-->
  <!--<iframe src="test.html" id="iframe"></iframe>-->

<!--</div>-->

<div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form id="search_query" method="Post">
              {% csrf_token %}
                <div class="row">

                    <!--end of col-->
                    <div class="col-9" style="float:left">
                        <input type="search"
                               placeholder="Search topics or keywords" id="search_term">
                    </div>
                    <!--end of col-->
                    <div class="col-3" style="float:left">
                        <input type="submit" value="Search">
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>

</div>

<div id="dialog" title="">
<div id="searchresults"></div>
</div>






<script src="http://localhost:8000/static/js/abc.js"></script>
</body>
</html>