<!doctype html>

<html lang="en">
<head>
  <script>
  (function() {
    var cx = '008596628419507337123:hnqhlkstjcy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>


  <!--<meta charset="utf-8" />-->
  <!--<title>jQuery UI Resizable - Default functionality</title>-->
  <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />-->
  <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
  <!--<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->

  <!--<style>-->

  <!--#iframe {-->
  <!--width: 100%;-->
  <!--height: 100%;-->
  <!--border: none;-->

  <!--background: #eee ;-->


  <!--z-index: 1;-->
<!--}-->

<!--#resizable {-->
  <!--width: 100px;-->
  <!--height: 100px;-->
  <!--background: #fff;-->
  <!--border: 1px solid #ccc;-->
  <!--padding:10px;-->

  <!--z-index: 9;-->
<!--}-->
  <!--</style>-->
  <!--<script>-->
  <!--$(function() {-->
    <!--$('#resizable').resizable({-->
      <!--start: function(event, ui) {-->
        <!--$('iframe').css('pointer-events','none');-->
         <!--},-->
    <!--stop: function(event, ui) {-->
        <!--$('iframe').css('pointer-events','auto');-->
      <!--}-->
  <!--});-->

  <!--$('#resizable').draggable({-->
      <!--start: function(event, ui) {-->
        <!--$('iframe').css('pointer-events','none');-->
         <!--},-->
    <!--stop: function(event, ui) {-->
        <!--$('iframe').css('pointer-events','auto');-->
      <!--}-->
  <!--});-->

  <!--});-->
  <!--</script>-->
</head>
<body>
<gcse:search></gcse:search>
<!--<div id="resizable">-->
  <!--<iframe src="test.html" id="iframe"></iframe>-->

<!--</div>-->


</body>
</html>